<div class="container-fluid my-5 py-3">
    <div class="row">
        <div class="col-6 mt-5">
            <h1 class="text-dark display-4 home_title">Where were you?</h1>
            <h6 class="text-black-50 lead"><em>Short vignettes of my life as a child.</em></h6>
            <p class="lead text-dark">This site is a collection of short thoughts to help me process my
                childhood trauma
                as I was
                living with
                parental figures suffering from untreated mental health issues. I do not mean for my content to come off
                as a pity party, but rather to shed light on the serious affects of mental illness. We need to start
                recognizing these illnesses more and providing the support people and families need to navigate.
                Otherwise, I fear, history will continue to repeat itself and the sins of the father (and mother) will
                be placed on the children.</p>
        </div>
        <div class="col-6">
            <div class="card ml-5 mt-5 shadow" style="max-width: 300px;">
                <img src="/assets/img/sad_clown_me.png" alt="" class="card-img" style="max-width: 300px;">
            </div>
        </div>
    </div>
</div>