.img-bg {
	height: 180px;
	width: auto;
	background-position: center;
	background-size: cover;
}

.img-bg-post {
	height: 300px;
	width: auto;
	background-position: center;
	background-size: cover;
}

.jumbotron {
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
