<!DOCTYPE html>
<html>
{{>head}}

<body class="bg-gradient-st_pete text-white-50">
	{{>nav_bar}}
	<main>
		<div class="container py-5">
			{{>intro}}
			{{>blog-list}}
		</div>
	</main>
</body>
<script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script>

</html>