$scheme: (#505160, #2980b9, #359fdc);

// applied scheme
$black: nth($scheme, 1);
$color1: nth($scheme, 2);
$color2: nth($scheme, 3);

// basics
$white: #fff;
$grey: #423d3d;

.bg-gradient-st_pete {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
